/* ==========================================================================
 Nav Styles
========================================================================== */
/* --------------------------------------------------------------------------
 Variables
-------------------------------------------------------------------------- */
// Nav Colors
$nav-bg: rgba(255,255,255, 1); //rgba(38,47,54,0.87);
$nav-color-text:  rgba(0,0,0, 0.87);
$nav-color-link: rgba(0,0,0, .87);
$nav-color-hover: rgba(0,0,0,.54);

$nav-font-size: 0.85rem;

$trans: all 0.5s ease;

/* --------------------------------------------------------------------------
 Nav
-------------------------------------------------------------------------- */
nav {
  background: $nav-bg;  //background: #343434;
  height: 50px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -webkit-transition: all 200ms ease 0ms;
  transition: all 200ms ease 0ms;
  padding: 0;
  margin: 0;
  font-weight: 600;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }


  li {
    transition: $trans;
    display: inline-block;
  }

  a {
    border-bottom: 0 soild $nav-color-hover;
    color: $nav-color-link;
    font-size: $nav-font-size;
    text-transform: uppercase;
    display: block;
    padding: 0;
	margin: 0;
    text-decoration: none;
    transition: $trans;

    &:hover, &:focus {
      color: $nav-color-hover;
      border-bottom: 1px solid $nav-color-hover;
      transition: $trans;
    }
  }
}


.navbar-brand {
  margin-left: .5rem;
  color: $nav-color-text;
  float: left;
  padding-top: .3rem;
  padding-bottom: .25rem;
  margin-right: 1rem;

  p {
	color: white;
	font-size: 1.3rem;
	padding: 0;
	margin: 0;
  }

  h1 {
	color: white;
	font-size: 1.3rem;
	padding: 0;
	margin: 0;
  }
  span {
    color: $nav-color-text;
  }
}

nav ul li:last-child {
  border: none;
}

.navbar-nav .nav-link {
  //padding-top: 0.5rem;
  margin: 0;
  padding: 0;
 // padding-bottom: 0; //pushes links down 8px from top
  display: flex;
  align-items: center; /*centers it vertically*/
}

.navbar {
    padding: 0;   //adds 16px of padding and then removes bottom padding
  	margin: 0;
}

.navbar-nav .nav-item {
  float: none;
}

.navbar-nav .nav-item:last-child {
  margin: .5rem;
  padding: 0 .5rem;
}