// Misc Styles

.text-center {
  text-align: center;
}

.fa-6 {
  font-size: 40px;
}

#call-to-action {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0 auto; /*centers it horizontally*/
    text-align: center;

    h2{
      color: white;
      font-size: 2rem;
    }

    h3 {
      font-size: 1.4rem;
      color: rgba(white, .87);
      font-weight: 500;
      padding-bottom: .8rem;
    }

  }

//-------------------------------------------------------------------//
// Call to Action
//-------------------------------------------------------------------//

#call-to-action {
  background: black;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center; /*centers it vertically*/
}

.call-to-action-caption {
  font-size: 1.3rem;
  margin: 0 auto; /*centers it horizontally*/
  text-align: center;
  padding: 2rem;
  background: black;

  h2 {
    color: white;
    font-weight: 600;
    font-size: 4rem;
  }

  h3 {
    font-size: 1.4rem;
    color: rgba(white, .87);
    font-weight: 500;
  }

}
